@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.dark, .dark *));

body {
    /* background-color: #F8FAFC; */
    /* background-color: #F7F9F2; */
    background-color: #F2F0EF;
    /* background-color: white; */
}

.dark body {
    background-color: #292929;
}

/* Hide scrollbar but keep scroll functionality (Chrome, Safari, Edge) */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Firefox */
.scrollbar-hidden {
    scrollbar-width: none;
}

.p-card {
    border-radius: 0% !important;
    border: 1px solid transparent;
}

.p-card:hover {
    border: 1px solid #2563EB;
    box-shadow: 0 4px 8px 0 #BFDBFE, 0 6px 20px 0 #BFDBFE;
}

.dark .p-card:hover {
    background-color: #292929;
    border: 1px solid #2563EB;
    box-shadow: 0 0px 0px 0 #BFDBFE, 0 0px 0px 0 #BFDBFE;
}

.btn-rotate:hover .p-button-icon {
    transform: rotate(45deg);
    transition: transform 0.3s;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.3s ease;
    overflow: hidden;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
}

.slide-fade-enter-to,
.slide-fade-leave-from {
    max-height: 200px;
    /* adjust as needed */
    opacity: 1;
    transform: translateY(0);
}

.contact-form,
.company-img {
    box-shadow: 0 10px 10px 0 #94A3B8;
}

.dark .contact-form,
.dark .company-img {
    box-shadow: none;
}

@layer utilities {
    @keyframes rotate-slow {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(10deg);
        }

        50% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(-10deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    .animate-rotate-slow {
        animation: rotate-slow 10s linear infinite;
    }
}

@theme {
    @keyframes popIn {
        0% {
            transform: scale(0) translateY(50px);
            opacity: 0;
        }

        50% {
            transform: scale(1.05) translateY(0);
            opacity: 1;
        }

        100% {
            transform: scale(1) translateY(0);
            opacity: 1;
        }
    }

    --animate-popIn: popIn 1.5s ease-out forwards;
}

@theme {
    @keyframes slideUp {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    --animate-slideUp: slideUp 1s ease-out forwards;
}

.project-card {
  position: relative;
  z-index: 0; /* default */
}

.project-card.show-description {
  z-index: 50; /* bring this card above others */
}